<html>
<head>
  <title>farmer</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/farmer1.css">


</head>
<body>



<div>
  <form action="" method="post">
    <input type="" id="us" name="signup" value="FARMER" placeholder="You signUp as..." style="color:grey; font-size:20px; border: grey; padding:5px; text-align:center; margin-left:36%;"><br><br>

     <label for="fname">Username</label><br>
    <input type="text" id="us" name="uname" placeholder="create username" required><br>

    <label for="lname">Password</label><br>
    <input type="text" id="psw" name="pass" placeholder="create password" required><br>

    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." required><br>

    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.." required><br>

    <label for="mob">Email</label><br>
    <input type="text" id="mob" name="email" required><br>


    <label for="mob">Mobile Number</label><br>
    <input type="text" id="mob" name="mob" required><br>

    <label for="mob">Caste</label><br>
    <input type="text" id="mob" name="caste" required><br>

    <label for="income">City</label><br>
    <input type="text" id="city" name="city" required><br><br>


    <label for="income">Annual Income</label><br>
    <input type="text" id="income" name="income" required><br><br>


    <label for="age">Highest Education </label><br>
    <input type="text" id="age" name="edu" ><br>


    <label for="age">Age</label><br>
    <input type="text" id="age" name="age" required><br>

    <label for="area">Area of Land</label><br>
    <input type="text" id="area" name="land" required><br>

    <label for="age">Disability</label><br>
    <input type="text" id="age" name="disability" required><br>



   <input type="submit" value="Submit" >

  </form>
</div>





</body>
</html>
