<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>farmer</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/farsch.css">


</head>
<body>

<div class="container-fluid">
<div class="row top">
<div class="col-lg-1" id="logo">

</div>
<div class="col-lg-11">
<h1>Govt. Scheme Criteria Checking</h1>
</div>
</div>
</div>














<body>
<a href="/" style="margin-left:90%; color: blue; font-size: 30px;">Logout</a>


<h2 style="text-align: center;">Schemes for farmers</h2>


<div id="box"><h3>Pradhan Mantri Fasal Bima Yojana</h3>

<p>  Providing financial support to farmers suffering crop loss/damage arising out of unforeseen events.<br>
 Stabilizing the income of farmers to ensure their continuance in farming.
 Encouraging farmers to adopt innovative and modern agricultural practices.
 Ensuring flow of credit to the agriculture sector which will contribute to food security, crop diversification and enhancing growth and competitiveness of agriculture sector besides protecting farmers from production risks.<br>
<a href="https://pmfby.gov.in/"><h4>Apply</h4></a>
</p>
</div>

<br>

<div id="box"><h3>Soil Health Card</h3>
<p>  To issue soil health cards every 3 years, to all farmers of the country, so as to provide a basis to address nutrient deficiencies in fertilization practices.
 To diagnose soil fertility related constraints with standardized procedures for sampling uniformly across states and analysis and design taluqa / block level fertilizer recommendations in targeted districts.
 To develop and promote soil test based nutrient management in the districts for enhancing nutrient use efficiency.
 To build capacities of district and state level staff and of progressive farmers for promotion of nutrient management practices.<br>
<a href="https://soilhealth.dac.gov.in/"><h4>Apply</h4></a>
</p>
</div>

<br>

<div id="box"><h3>e-Nam</h3>

<p>  A national e-market platform for transparent sale transactions and price discovery initially in regulated markets. Willing States to accordingly enact suitable provisions in their APMC Act for promotion of e-trading by their State Agricultural Marketing Board/APMC.
 Liberal licensing of traders / buyers and commission agents by State authorities without any pre-condition of physical presence or possession of shop /premises in the market yard.<br>
<a href="https://enam.gov.in/"><h4>Apply</h4></a>
</p>
</div>

<br>

<div id="box"><h3>Pradhanmantri Krishi Sinchayee Yojna</h3>

<p> The major objective of PMKSY is to achieve convergence of investments in irrigation at the field level, expand cultivable area under assured irrigation, improve on-farm water use efficiency to reduce wastage of water, enhance the adoption of precision-irrigation and other water saving technologies (More crop per drop), enhance recharge of aquifers and introduce sustainable water conservation practices by exploring the feasibility of reusing treated municipal waste water for peri-urban agriculture and attract greater private investment in precision irrigation system.
<br>
<a href="https://pmksy.gov.in/"><h4>Apply</h4></a></p>
</div>

<br>

<div id="box"><h3>mKisan</h3>
<p> SMS Portal for farmers enables all Central and State government organizations in agriculture and allied sectors to give information/services/advisories to farmers by SMS in their language, preference of agricultural practices and location
<br>
<a href="https://mkisan.gov.in/"><h4>Apply</h4></a></p>
</div>

<br>

<div id="box"><h3>Kisan Call Center</h3>

<p> Main aim of the project is to answer farmers' queries on a telephone call in their own dialect. These call Centres are working in 14 different locations covering all the States and UTs. A countrywide common eleven digit Toll Free number 1800-180-1551 has been allotted for Kisan Call Centre. This number is accessible through mobile phones and landlines of all telecom networks including private service providers. Replies to the farmers' queries are given in 22 local languages.

</p>
</div>

<br>

<div id="box"><h3>Mission for Integrated Development of Horticulture (MIDH) </h3>
<p> Mission for Integrated Development of Horticulture (MIDH) is a Centrally Sponsored Scheme for the holistic growth of the horticulture sector covering fruits, vegetables, root & tuber crops, mushrooms, spices, flowers, aromatic plants, coconut, cashew, cocoa and bamboo<br>
<a href="https://midh.gov.in/"><h4>Apply</h4></a></p>
</div>

<br>

<div id="box"><h3>Rainfed Area Development (RAD)</h3>
<p> RAD focuses on Integrated Farming System (IFS) for enhancing productivity and minimizing risks associated with climatic variability’s. Under this system, crops/cropping system is integrated with activities like horticulture, livestock, fishery, agro-forestry, apiculture etc. to enable farmers not only in maximizing farm returns for sustaining livelihood, but also to mitigate the impacts of drought, flood or other extreme weather events with the income opportunity from allied activities during crop damage.
<br>
<a href="https://nmsa.dac.gov.in/frmComponents.aspx"><h4>Apply</h4></a>

</p>
</div>

<br>











<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>


</body>
</html>
