<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="post">


    username
    <input type="text" name="uname" value=""><br><br>
    password
    <input type="text" name="pass" value="">
    <input type="submit" value="Submit"  id="demo" >

    </form>
  </body>
</html>
