<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>obc</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/farsch.css">


</head>
<body>

<div class="container-fluid">
<div class="row top">
<div class="col-lg-1" id="logo">

</div>
<div class="col-lg-11">
<h1>Govt. Scheme Criteria Checking</h1>
</div>
</div>
</div>














<body>

<a href="/" style="margin-left:90%; color: blue; font-size: 30px;">Logout</a>




<h2 style="text-align: center; margin-top: 2%;">You are eligible to apply for the following schemes</h2>


<div id="box" style="margin-top: 2%;"><h3>Post Matric Scholarship to OBC Students</h3>

<p>  Eligibility-
 The parents/Guardians annual Income should be less than or equal to Rs.1.00 Lac.
 Applicant should belong to OBC<br>
Benefits:
Tuition Fee, Exam Fee and Maintenance allowance are paid 100% to applicants who’s studying in government/aided institutions in professional courses and non-professional courses.
  Tuition Fee and Exam Fee are paid 50% and Maintenance allowance are paid 100% to applicants who’s studying in non-government/unaided institutions in professional courses and non-professional courses.


<br>
<a href="https://mahadbtmahait.gov.in/RegistrationLogin/RegistrationLogin"><h4>Apply</h4></a>
</p>
</div>

<br>

<div id="box"><h3>Tuition fees and Examination fees to OBC Students  </h3>
<p>  •  Applicant must be taking post matric education.
• Parent’s annual income should be less than or equal to 8.00 Lacs.
•  Applicant should be belongs to OBC category.<br>

Benefits:
Tuition Fee and Exam Fee are paid 100% to applicants who’s studying in government/aided institutions in professional courses.
Tuition Fee and Exam Fee are paid 50% to applicants who’s studying in non-government/unaided institutions in professional courses.

<br>
<a href="https://mahadbtmahait.gov.in/RegistrationLogin/RegistrationLogin"><h4>Apply</h4></a>
</p>
</div>

<br>












<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script>









</body>
</html>
