<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>sbc</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/farsch.css">


</head>
<body>

<div class="container-fluid">
<div class="row top">
<div class="col-lg-1" id="logo">

</div>
<div class="col-lg-11">
<h1>Govt. Scheme Criteria Checking</h1>
</div>
</div>
</div>













<body>
<a href="/" style="margin-left:90%; color: blue; font-size: 30px;">Logout</a>


<h2 style="text-align: center;">You are eligible to apply for the following schemes</h2>


<div id="box"><h3>Tuition fees and Examination fees to SBC Students </h3>

<p>   Applicant must be taking post matric education.
Parent’s annual income should be less than or equal to 8.00 Lacs.
Applicant should be belongs to SBC category.<br>
Eligibility:
Tuition fees and Exam fees reimbursed to the applicants who are admitted  in the Govt., Govt. approved private, non-aided and permanently non granted colleges are applicable to pay 100 % Tuition Fees & Exam Fees approved by Education Fee Committee

<br>
<a href="https://mahadbtmahait.gov.in/RegistrationLogin/RegistrationLogin"><h4>Apply</h4></a>
</p>


<br>







<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javaScripts/bootstrap.min.js"></script>










</body>
</html>
