


<html>
<head>
<link rel='stylesheet' href='/stylesheets/student.css' />
<title>student Sign up</title>
</head>
<body>
<div>

  <form class="" action="" method="post">


    <input type="" id="us" name="signup" value="STUDENT" placeholder="You signUp as..." style="color:grey; font-size:20px; border: grey; padding:5px; text-align:center; margin-left:36%;"><br><br>


      <label for="fname">Username</label><br>
      <input type="text" id="us" name="uname"  placeholder="create username" ><br>

    <label for="lname">Password</label><br>
    <input type="text" id="psw" name="pass" placeholder="create password" required><br>

    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Enter your first name" require><br>

    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lastname"  placeholder="Enter your last name" required><br>

    <label for="email">Email Address</label><br>
    <input type="text" id="email" name="email" placeholder="Enter your enmail" required><br>

    <label for="mob">Mobile Number</label><br>
    <input type="text" id="mob" name="mob"  placeholder="Enter your Mobile number" required><br>


    <label for="mob">Caste</label><br>
    <input type="text" id="caste" name="caste" placeholder="Enter your Caste" required><br>


    <label for="city">City</label><br>
    <input type="text" id="city" name="city"  placeholder="Enter your City" required><br>

    <label for="income">Family Income</label><br>
    <input type="text" id="income" name="income"  placeholder="Enter your family Income" required><br><br>


    <label for="x">Highest Education</label><br>
    <input type="text" id="x" name="edu" placeholder="Enter your Highest Education" required><br>


    <label for="x">X Standard Marks</label><br>
    <input type="text" id="x" name="x"  placeholder="Enter your X marks" required><br>



    <label for="xii">XII Standard Marks</label><br>
    <input type="text" id="xii" name="xii"  placeholder="Enter your XII marks" required><br>


    <label for="age">Age</label><br>
    <input type="text" id="age" name="age"  placeholder="Enter your age" required><br>



    <label for="x">Disability</label><br>
    <input type="text" id="x" name="disability" placeholder="Yes/No" required><br>

    
    <input type="submit" value="Submit"  id="demo" >


  </form>

</div>


</body>
</html>
